@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    @apply h-full;
    --brand-primary: #c1292e;
    --brand-hover: #651416;
    --brand-header-background: #e2e1e1;
    --primary-white: #ffffff;
    --white-hover: #f2f2f2;
  }

  h1 { @apply text-2xl; }
  h2 { @apply text-xl; }
  h3 { @apply text-lg; }

  a { @apply text-brand-primary underline; }
}

@layer components {
  .btn {
    @apply p-3 rounded-md text-primary-white bg-brand-primary transition-all
          hover:bg-brand-hover focus:outline-none focus:ring focus:ring-brand-primary focus:ring-opacity-30;
  }

  .link-nav {
    @apply rounded-md bg-brand-primary w-48 h-12 pt-3 mb-3
    hover:bg-brand-hover text-white transition-colors duration-200 no-underline;
  }

  .btn.danger {
    @apply text-primary-white bg-brand-primary hover:bg-brand-hover;
  }

  .input {
    @apply rounded-md border-gray-300 transition-colors
          bg-primary-white
          focus:border-brand-primary focus:ring focus:ring-brand-primary focus:ring-opacity-30;
  }

  .card { @apply p-5 rounded-md bg-white border; }

  .table-container { @apply border rounded-lg mt-5 shadow overflow-x-auto; }

  .table-filter {
    @apply flex flex-col lg:flex-row gap-5 rounded-lg p-3 shadow overflow-x-auto border;
  }

  .sidebar {
    @apply fixed h-full w-72 p-5 shadow flex flex-col
           transform -translate-x-72 bg-white
           lg:translate-x-0 transition-transform;
  }

  .sidebar.show { @apply translate-x-0; }
}
